body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #333, #000);
  color: white;
  text-align: center;
}

.poem {
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 2em;
  color: #FFD700;
}

p {
  font-size: 1em;
  line-height: 1.5;
  animation: rotate-line 20s linear infinite reverse;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation: rotate-title 10s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotate-title {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotate-line {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.2em;
  }
}
